# Archivos y carpetas de Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Archivos de credenciales y secretos
*.pem
*.key
*.env
*.secret
*.secrets
*.bak

# Archivos de salida y logs
*.log
*.out

# Archivos de configuración de IDE
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de backup
*~